<header >
  <div class="top-header">
    <span></span>
  </div>
  <div class="main-header">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-3 col-sm-2 col-md-5 col-lg-4">
        <div class="logo">
          <a routerLink="/home"><img src="../../assets/images/logo_260x260.png" alt=""></a>
        </div> <!--end of logo-->
      </div> <!--end of col-->

      <div class="col-sm-9 col-md-7 col-lg-8">
        <div class="navigation-bar">

          <div class="navbar navbar-inverse navbar" role="navigation">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                <!--<li class="active"><a href="#"><span class="img-icon main maquillages-icon"></span> MAQUILLAGES</a></li>-->
                <li><a routerLink="/search-makeup" routerLinkActive="active"><span
                  class="img-icon main maquillages-icon"></span> Maquillage</a></li>
                <li><a routerLink="/search-microblading" routerLinkActive="active"><span
                  class="img-icon main maquillages-icon_ft"></span> Microblading </a></li>
                <li><a routerLink="/search-manicure" routerLinkActive="active"><span
                  class="img-icon main maquillages-icon_scn"></span> Manucure</a></li>
                <li><a routerLink="/search-eyelashes" routerLinkActive="active"><span
                  class="img-icon main maquillages-icon_thr"></span> Extension de cils</a></li>
                <li><a routerLink="/search-henne" routerLinkActive="active"><span
                        class="img-icon main maquillages-icon_thr"></span> Henné</a></li>
                <li><a routerLink="/search-lacefrontal" routerLinkActive="active"><span
                        class="img-icon main maquillages-icon_thr"></span> Lace frontal</a></li>
                <li *ngIf="profileService.isAuthenticated()" class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                     style="background-color: rgba(206,156,143,0.61); border-radius: 5px; text-decoration: none; color: white">
                    Connecté(e)
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" routerLink="/profile">Votre profile</a></li>
                    <li><a class="dropdown-item" (click)="authService.logout()">Se déconnecter</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div> <!--end of navbar-->
        </div> <!--end of navigation-->
      </div> <!--end of col-->
    </div>
    <!--<p style="font-family: 'Tangerine', serif;
                    font-size: 40px; color: #ce9c8f;">Faites découvrir votre talent...</p>-->
  </div>
  </div>
</header> <!--end of header-->
