<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class='demopadding'>
          <!--<div class='icon social fb'><i class='fa fa-facebook'></i></div>
          <div class='icon social tw'><i class='fa fa-twitter'></i></div>
          <div class='icon social gp'> <i class='fa fa-google-plus'></i></div>-->
          <div class='icon social ins'><i class='fa fa-instagram'></i></div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="copy-right"> <p>
          &#169; 2020 ltbeauty.fr
        </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="copy-right" >
          <p>
          <a style="color: white;" routerLink="/usercharter">Charte d'utilisation</a>
          </p>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12">
        <a style="color: white;" routerLink="/faq">FAQ</a>
        <span style="display:inline-block; width: 20px;"></span>
        <a style="color: white;" routerLink="/cgv">CGV</a>
        <span style="display:inline-block; width: 20px;"></span>
        <a style="color: white;" routerLink="/privacy">CONFIDENTIALITÉ</a>
        <span style="display:inline-block; width: 20px;"></span>
        <a style="color: white;" routerLink="/disclaimer">MENTIONS LÉGALES</a>
        <span style="display:inline-block; width: 20px;"></span>
        <a style="color: white;" routerLink="/contact">CONTACT</a>
      </div>
    </div>
  </div>
  <span style="display:inline-block; height: 20px;"></span>
</footer>
