<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class='demopadding'>
          <div class='icon social fb'><i class='fa fa-facebook'></i></div>
          <div class='icon social tw'><i class='fa fa-twitter'></i></div>
          <div class='icon social gp'> <i class='fa fa-google-plus'></i></div>
          <div class='icon social ins'><i class='fa fa-instagram'></i></div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="copy-right"> <p>
          &#169; 2018 flakes.com.
        </p>
        </div>
      </div>
    </div>
  </div>
</footer>
