<section class="content-profile">
  <div class="container-fluid">
    <!------------------------------
    ----- PROFIL INFORMATION
    ------------------------------>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-5">
        <div class="content-title">
          <h1>
            Edition des informations du profile
          </h1>
          <br>
          <app-profile-edit-info></app-profile-edit-info>
        </div>
      </div>
      <!------------------------------
      ----- PHOTOS GALLERY
      ------------------------------>
      <div class="col-xs-12 col-sm-7 col-md-7">
        <div class="content-title">
          <h1>Edition des photos</h1>
        </div>
        <br>
        <br>
        <div>
          <app-profile-edit-photos
            (photoDeletedEvent)="deleteFromGallery($event)"
            (photoSentEvent)="showPhotoUploadedSuccess()"></app-profile-edit-photos>
        </div>
      </div>
    </div>
  </div>

  <br><br>
  <hr>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button type="button" pButton icon="pi pi-check" (click)="saveEditProfile()"
              label="Sauvegarder"></button>
      <span style="display:inline-block; width: 25px;"></span>
      <button type="button" pButton icon="pi pi-times" (click)="cancelEditProfile()" label="Annuler"
              class="ui-button-secondary"></button>
    </div>
    <div class="col-md-4"></div>

  </div>

  <!----------------------------
  ----- POPUP DIALOG WITH AUTO-DISMISS
  ------------------------------>
  <p-growl [(value)]="growlMessage"></p-growl>
</section>
