<div class="app flex-row align-items-center "  style="margin-bottom: 50px">
  <div class="container w-100 ">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="clearfix" style="text-align: center">

          <h1 class="float-left display-3 mr-4">404</h1>
          <h4 class="pt-3">Oops! </h4>
          <p class="text-muted">Le token est expiré</p>
        </div>
        <div class="w-100 row justify-content-center">
        <button
          [routerLink]="['/home']"
          style="width: 50%" class="btn btn-primary-submit hvr-shadow"
               >Vers la page d'accueil
        </button>

        </div>

      </div>
    </div>
  </div>
</div>
