.search-heading-signup {
  background-repeat: no-repeat;
  background: url(../../../assets/images/serach-banner.jpg);
  background-size: cover;
  padding: 10px;
}

.expertise-container {
  width: 60% !important;
}
@media only screen and (max-width: 800px) {
  .expertise-container {
      width: 100% !important;
  }
}
