<div style="display: flex; justify-content: center" >
  <div style="width:500px; margin-bottom: 80px; margin-top: 30px;">
  <div class="form-area" style="width: 100%;" *ngIf="success">
    <h3 style="text-align: center">Réinitialiser le mot de passe</h3>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" style="margin-top: 15px">
      <div class="form-group">
        <input type="password" class="form-control" formControlName="password1" placeholder="Mot de passe" required>
        <div class="invalid-feedback">
          <div style="text-align: center; color: #FF3333"  *ngIf="resetPasswordForm.get('password1').hasError('minlength')">Minimum 6 lettres</div>
          <div style="text-align: center; color: #FF3333" *ngIf="resetPasswordForm.get('password1').hasError('required') && this.resetPasswordForm.pristine===false">Ce champs est requis</div>
        </div>
      </div>
      <div class="form-group">
        <!--<input type="password" class="form-control" id="password" name="password" placeholder="mot de passe" formControlName="password" required>-->
        <input type="password" class="form-control" formControlName="password2" placeholder="Répeter votre mot de passe"  required>
        <div  class="invalid-feedback">
          <div style="text-align: center; color: #FF3333" *ngIf="resetPasswordForm.get('password2').hasError('minlength')">Minimum 6 lettres</div>
          <div style="text-align: center; color: #FF3333" *ngIf="resetPasswordForm.get('password2').hasError('required') && this.resetPasswordForm.pristine===false">Ce champs est requis</div>
          <div style="text-align: center; color: #FF3333" *ngIf="(resetPasswordForm.value.password1 != resetPasswordForm.value.password2) && resetPasswordForm.value.password2.length>0  ">les deux mots de passes doit être similaires</div>

        </div>
      </div>


      <div class="form-group">
        <button type="submit"
                [disabled]="!resetPasswordForm.valid || (resetPasswordForm.value.password1 != resetPasswordForm.value.password2) "
                class="btn btn-primary-submit hvr-shadow"
        >Réinitialiser</button>



        <button type="submit" name="submit" style="margin-top: 10px;"
                class="btn btn-primary-submit hvr-shadow"
                routerLink="/home">Vers la page d'accueil</button>
          <div style="text-align: center; color: #4BB543" *ngIf="this.resetPasswordSuccess===true ">Votre mot de passe a été changé</div>
          <div style="text-align: center;  color: #FF3333" *ngIf="this.resetPasswordFailed===true ">Un erreur en changeant le mot de passe</div>

      </div>

    </form>
  </div>

    <div  *ngIf="failed" class="clearfix" style="text-align: center">

      <h1 class="float-left display-3 mr-4">404</h1>
      <h4 class="pt-3">Oops! </h4>
      <h3 class="text-muted">Le token est expiré</h3>
    </div>
  </div>
</div>
