<section class="profile-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="profile-heading">
          <h1> PROFILE</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-profile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-5">
        <div class="content-title">
          <h1>
            Informations de votre profile
          </h1>
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead></thead>
              <tbody>
              <tr>
                <td>Identifiant</td>
                <td><span style="display:inline-block; width: 25px;"></span></td>
                <td class="detail">{{ currentProfile.username }}</td>
              </tr>
              <tr>
                <td>Nom</td>
                <td><span style="display:inline-block; width: 25px;"></span></td>
                <td class="detail">{{ currentProfile.lastName }}</td>
              </tr>
              <tr>
                <td>Prénom</td>
                <td><span style="display:inline-block; width: 25px;"></span></td>
                <td class="detail">{{ currentProfile.firstName }}</td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td><span style="display:inline-block; width: 25px;"></span></td>
                <td class="detail">{{ currentProfile.emailAdress }}</td>
              </tr>
              <tr>
                <td>Téléphone</td>
                <td><span style="display:inline-block; width: 25px;"></span></td>
                <td class="detail">{{ currentProfile.phone }}</td>
              </tr>
              <tr>
                <td>Code postal</td>
                <td><span style="display:inline-block; width: 25px;"></span></td>
                <td class="detail">{{ currentProfile.zipCode }}</td>
              </tr>
              <tr>
                <td>Département</td>
                <td><span style="display:inline-block; width: 25px;"></span></td>
                <td class="detail">{{ currentProfile.departments }}</td>
              </tr>
              <tr>
                <td>Compétences</td>
                <td><span style="display:inline-block; width: 25px;"></span></td>
                <td class="detail">{{ currentProfile.business }}</td>
              </tr>

              <tr>
                <td>Expertise</td>
                <td><span style="display:inline-block; width: 25px;"></span></td>
                <td class="detail">{{ currentProfile.expertise }}</td>
              </tr>
              <tr>
                <td>Présentation</td>
                <td><span style="display:inline-block; width: 25px;"></span></td>
                <td class="detail">{{ currentProfile.slogan }}</td>
              </tr>
              </tbody>
            </table>
            <button pButton type="button" label="Editer" class="ui-button-raised"
                    (click)="editProfileClicked($event)"></button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7 col-md-7">
        <div class="content-title">
          <h1>Mes Photos</h1>
        </div>
        <br>
        <br>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

      </div>
    </div>
  </div>


  <p-dialog header="Editer le profile" [(visible)]="displayEditDialog" [modal]="true"
            [width]="500" [minWidth]="200" [minY]="70" [dismissableMask]="true"
            [maximizable]="false" [baseZIndex]="500000">

    <!--<form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nom" [value]="currentProfile.lastName">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Prénom" [value]="currentProfile.firstName">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Téléphone" [value]="currentProfile.phone">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Code Postal" [value]="currentProfile.zipCode">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Code" [value]="currentProfile.firstName">
      </mat-form-field>
    </form>-->

    <form class="edit-profile-form">
      <table class="edit-profile-full-width">
        <tr>
          <td>
            <mat-form-field class="edit-profile-full-width">
              <input matInput placeholder="identifiant" disabled [value]="currentProfile.username">
            </mat-form-field>
          </td>
          <td><span style="display:inline-block; width: 25px;"></span></td>
          <td>
            <mat-form-field class="edit-profile-full-width">
              <input matInput placeholder="E-mail" disabled [value]="currentProfile.emailAdress">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="edit-profile-full-width" cellspacing="100">
        <tr>
          <td>
            <mat-form-field class="edit-profile-full-width">
              <input matInput placeholder="Nom" [value]="currentProfile.lastName">
            </mat-form-field>
          </td>
          <td><span style="display:inline-block; width: 25px;"></span></td>
          <td>
            <mat-form-field class="edit-profile-full-width">
              <input matInput placeholder="Prénom" [value]="currentProfile.firstName">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="edit-profile-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="edit-profile-full-width">
              <input matInput placeholder="Téléphone" [value]="currentProfile.phone">
            </mat-form-field>
          </td>
          <td><span style="display:inline-block; width: 25px;"></span></td>
          <td>
            <mat-form-field class="edit-profile-full-width">
              <input matInput #postalCode maxlength="5" placeholder="Code Postal" [value]="currentProfile.zipCode">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <div>
        <span style="font-size: 75%; opacity: 0.5; font-weight: bold">Expertise </span>
        <section class="edit-profile-expertise-checkbox-section">
          <div *ngFor="let expertise of expertiseAvailable">
            <mat-checkbox class="edit-profile-expertise-checkbox-margin"
                          [(ngModel)]="expertise.checked" [ngModelOptions]="{standalone: true}">{{expertise.label}}
            </mat-checkbox>
          </div>
        </section>
      </div>

      <!--<div>
        <span style="font-size: 75%; opacity: 0.5; font-weight: bold">Expertise </span>
        <section class="edit-profile-expertise-checkbox-section">
          <mat-checkbox class="edit-profile-expertise-checkbox-margin"
                        [(ngModel)]="checked" [ngModelOptions]="{standalone: true}">Peau claire</mat-checkbox>
          <mat-checkbox class="edit-profile-expertise-checkbox-margin"
                        [(ngModel)]="checked" [ngModelOptions]="{standalone: true}">Peau foncée</mat-checkbox>
          <mat-checkbox class="edit-profile-expertise-checkbox-margin"
                        [(ngModel)]="checked" [ngModelOptions]="{standalone: true}">Peau mate</mat-checkbox>
        </section>
      </div>-->

      <!--<p>
        <p-multiSelect [options]="availableExpertises"
                       [(ngModel)]="selectedExpertises"
                       [filter]="false"
                       defaultLabel="Type de peau"
                       [ngModelOptions]="{standalone: true}"></p-multiSelect>
      </p>-->

      <p>
        <mat-form-field class="edit-profile-full-width">
          <textarea style="display:inline-block; width: 100%; min-height: 50px;"
                    matInput placeholder="Présentation" [value]="currentProfile.slogan"></textarea>
        </mat-form-field>
      </p>

    </form>

    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="displayEditDialog=false" label="Valider"></button>
      <button type="button" pButton icon="pi pi-close" (click)="displayEditDialog=false" label="Annuler"
              class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>
</section>


