<section class="profile-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="profile-heading">
          <h1> PROFILE</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-profile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-5">
        <div class="content-title">
          <h1>
            Informations de votre profile
          </h1>
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead></thead>
              <tbody>
              <tr>
                <td>Identifiant:</td>
                <td class="detail">{{ currentProfile.username }}</td>
              </tr>
              <tr>
                <td>Nom:</td>
                <td class="detail">{{ currentProfile.lastName }}</td>
              </tr>
              <tr>
                <td>Prénom:</td>
                <td class="detail">{{ currentProfile.firstName }}</td>
              </tr>
              <tr>
                <td>Téléphone:</td>
                <td class="detail">{{ currentProfile.phone }}</td>
              </tr>
              <tr>
                <td>Code postal:</td>
                <td class="detail">{{ currentProfile.zipCode }}</td>
              </tr>
              <tr>
                <td>Departement(s):</td>
                <td class="detail">{{ currentProfile.departments }}</td>
              </tr>
              <tr>
                <td>Type:</td>
                <td class="detail">{{ currentProfile.business }}</td>
              </tr>
              <tr>
                <td>E-mail:</td>
                <td class="detail">{{ currentProfile.emailAdress }}</td>
              </tr>
              <tr>
                <td>Expertise:</td>
                <td class="detail">{{ currentProfile.expertise }}</td>
              </tr>
              <tr>
                <td>Slogan:</td>
                <td class="detail">{{ currentProfile.slogan }}</td>
              </tr>
              </tbody>
            </table>
            <button pButton type="button" label="Editer" class="ui-button-raised"
                    (click)="editProfileClicked($event)"></button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7 col-md-7">
        <div class="content-title">
          <h1>Mes Photos</h1>
        </div>
        <br>
        <br>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

      </div>
    </div>
  </div>


  <p-dialog header="Editer le profile" [(visible)]="displayEditDialog" [modal]="true"
            [width]="500" [minWidth]="200" [minY]="70" [dismissableMask]="true"
            [maximizable]="true" [baseZIndex]="500000">
    <table class="table table-condensed">
      <thead></thead>
      <tbody>
      <tr>
        <td>Identifiant</td>
        <td class="detail"><input type="text" [value]="currentProfile.username"></td>
      </tr>
      <tr>
        <td>Nom</td>
        <td class="detail">{{ currentProfile.lastName }}</td>
      </tr>
      <tr>
        <td>Prénom</td>
        <td class="detail">{{ currentProfile.firstName }}</td>
      </tr>
      <tr>
        <td>Téléphone</td>
        <td class="detail">{{ currentProfile.phone }}</td>
      </tr>
      <tr>
        <td>Code postal</td>
        <td class="detail">{{ currentProfile.zipCode }}</td>
      </tr>
      <tr>
        <td>Departement(s)</td>
        <td class="detail">{{ currentProfile.departments }}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td class="detail">{{ currentProfile.business }}</td>
      </tr>
      <tr>
        <td>E-mail</td>
        <td class="detail">{{ currentProfile.emailAdress }}</td>
      </tr>
      <tr>
        <td>Expertise</td>
        <td class="detail">{{ currentProfile.expertise }}</td>
      </tr>
      <tr>
        <td>Slogan:</td>
        <td class="detail">{{ currentProfile.slogan }}</td>
      </tr>
      </tbody>
    </table>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="displayEditDialog=false" label="Valider"></button>
      <button type="button" pButton icon="pi pi-close" (click)="displayEditDialog=false" label="Annuler"
              class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>
</section>


