<p-tabView>
  <p-tabPanel header="Portfolio">

    <div *ngIf="!currentProfileCopy.photosUrl || currentProfileCopy.photosUrl.length == 0">
      <br>
      <p>Aucune photo n'a été ajoutée pour le moment.</p>
      <br>
    </div>

    <div *ngIf="currentProfileCopy.photosUrl.length == 1">
      <div><h3 style="text-align: center; margin-bottom: 20px"><strong>{{currentProfileCopy.photosUrl.length}} Photo</strong></h3></div>
    </div>
    <div *ngIf="currentProfileCopy.photosUrl.length > 1">
      <div><h3 style="text-align: center; margin-bottom: 20px"><strong>{{currentProfileCopy.photosUrl.length}} Photos</strong></h3></div>
    </div>

    <p-scrollPanel [style]="{width: '100%', height: '270px'}" styleClass="custom"
                   *ngIf="currentProfileCopy.photosUrl && currentProfileCopy.photosUrl.length > 0">

      <smooth-dnd-container [dragClass]="'opacity-ghost'" [dropClass]="'opacity-ghost-drop'"
                            [dragHandleSelector]="'.column-drag-handle'"
                            [orientation]="'horizontal'"
                            (drop)="onDropImage($event)">
        <smooth-dnd-draggable *ngFor="let photoUrl of currentProfileCopy?.photosUrl; let i = index;">
          <div style="border:0px solid black; background-color: transparent; text-align: center; margin-top: 20px">
            <img [src]="photoUrl.url"
                 style='height: 100px; width: 120px; object-fit: fill; margin-left: 10px; margin-right: 10px'/>
          </div>
          <div style="text-align: center; width: 120px; background-color: rgba(209,21,116,0.24);
                      margin-left: 10px; margin-right: 10px; box-shadow: 5px 5px 5px grey;">
            <button pButton type="button" icon="pi pi-times"
                    style="border:0px solid black; background-color: transparent;"
                    (click)="onDeletePhotoFromGallery(i)"></button>
            <span style="display:inline-block; width: 15px;"></span>
            <button pButton type="button" icon="pi pi-bars"
                    style="border:0px solid black; background-color: transparent;"
                    class="column-drag-handle"></button>
          </div>
          <br>
        </smooth-dnd-draggable>
      </smooth-dnd-container>

      <hr>

      <div style="margin-left: 10px; margin-top: 20px">
        <p style="color:rgba(209,21,116,0.24);"><i class="pi pi-times" style="font-size: 0.9em"></i> pour supprimer une
          photo de la galerie</p>
        <p style="color:rgba(209,21,116,0.24);"><i class="pi pi-bars" style="font-size: 0.9em"></i> pour modifier
          l'ordre d'apparition de la photo dans la galerie</p>
      </div>
    </p-scrollPanel>

  </p-tabPanel>

  <p-tabPanel header="Ajouter">
    <input #fileUpload type="file" accept="image/*" (change)="onImageAddedFromAddTab($event)" style="display:none">
    <button pButton type="button" label="Selectionner" icon="pi pi-plus" class="ui-button-raised"
            (click)="fileUpload.click()" [disabled]="files && files.length+1 > MAX_PHOTOS"></button>
    <span style="display:inline-block; width: 25px;"></span>
    <button pButton type="button" label="Envoyer" icon="pi pi-upload" (click)="onUploadPhotos()"
            [disabled]="!(files && files.length > 0)"></button>

    <div *ngIf="!isPhotoValid">
      <p style="color: red; text-align:center; margin-top: 10px; font-weight: bold;">La taille maximale est de 1Mo par
        image</p></div>
    <br>

    <ng-container *ngIf="photosUrl && photosUrl.length > 0">
      <div class="container">
        <div *ngFor="let photoUrl of photosUrl; let i = index">
          <span style="display:inline-block; height: 15px;"></span>
          <div class="row">
            <div>
              <p-button icon="pi pi-times" (click)="removePhotoFromAddTab(i)"></p-button>
              <span style="display: inline-block; width: 5px"></span>
              <img [src]="photoUrl" class="photo"/>
              {{ (files[i].name.trim().length>40)? (' '+files[i].name.trim() |
              slice:0:40)+'...':(''+files[i].name.trim()) }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </p-tabPanel>

</p-tabView>
