/*
.ng-select.custom {

  min-height: 0px;
  border-radius: 0px;
}
.ng-select.custom .ng-select-container  {
  width: 100%;
  z-index: 1;
  background-color: #eeba07;
  border: 0;
  border-radius: 0px;
  color: #4e4e4e;
  outline: 1px solid #ccc;
}
*/
