
.ng-select.custom {
  min-height: 0px;
  border-radius: 0px;
}
.ng-select.custom .ng-select-container  {
  width: 100%;
  height: 20px;
  min-height: 39px;
  z-index: 1;
  max-height: 50%;
  font-size: small;
  font-weight: bold;
  /*background-color: #eeba07;
  border: 0;
  border-radius: 0px;
  color: #4e4e4e;
  outline: 1px solid #ccc;*/
}

.ng-select .ng-select-container  {
  width: 100%;
  height: 10px;
  min-height: 39px;
  z-index: 1;
  max-height: 50%;
  font-size: small;
  /*background-color: #eeba07;
  border: 0;
  border-radius: 0px;
  color: #4e4e4e;
  outline: 1px solid #ccc;*/
}

ng-select.ng-select-focused.customError .ng-select-container:after {
  border-color: #F44336;
  border-width: 2px
}

.ng-select.ng-select-focused.customError .ng-select-container .ng-value-container .ng-placeholder {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.001px);
  color: #F44336
}

.ng-select.ng-select-focused.customError .ng-select-container .ng-arrow-wrapper .ng-arrow {
  color: #F44336
}

.ng-select.ng-select-multiple.customError .ng-select-container .ng-value-container .ng-value {
  margin-right: 0.4375em;
  margin-bottom: 0.4375em;
  background-color: #F44336;
  border-radius: 2px;
  color: #fff;
  padding: 2px 5px
}

/*
.ng-dropdown-panel.customError .ng-dropdown-panel-items .ng-optgroup.ng-option-selected {
  background: rgba(0, 0, 0, 0.12);
  color: #b51436
}

.ng-dropdown-panel.customError .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background: rgba(0, 0, 0, 0.12);
  color: #b51436
}
*/

.ng-select.customError .ng-select-container .ng-value-container .ng-placeholder {
  position: absolute;
  color: #F44336;
  transform-origin: 0 0;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1)
}

.ng-select.customError .ng-arrow-wrapper .ng-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
  color: #F44336;
}

.ng-select.customError .ng-select-container:after {
  border-bottom: 1px solid #F44336;
  content: '';
  width: 100%;
  bottom: 0;
  position: absolute;
  transition: border-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2)
}
