<table class="table table-condensed">
  <thead></thead>
  <tbody>
  <tr>
    <td>Identifiant</td>
    <td><span style="display:inline-block; width: 25px;"></span></td>
    <td class="detail">{{ currentProfile.username }}</td>
  </tr>
  <tr>
    <td>Nom</td>
    <td><span style="display:inline-block; width: 25px;"></span></td>
    <td class="detail">{{ currentProfile.lastName }}</td>
  </tr>
  <tr>
    <td>Prénom</td>
    <td><span style="display:inline-block; width: 25px;"></span></td>
    <td class="detail">{{ currentProfile.firstName }}</td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td><span style="display:inline-block; width: 25px;"></span></td>
    <td class="detail">{{ currentProfile.emailAdress }}</td>
  </tr>
  <tr>
    <td>Téléphone</td>
    <td><span style="display:inline-block; width: 25px;"></span></td>
    <td class="detail">{{ currentProfile.phone }}</td>
  </tr>
  <tr>
    <td>N° et Rue</td>
    <td><span style="display:inline-block; width: 25px;"></span></td>
    <td class="detail">{{currentProfile.street}}</td>
  </tr>
  <tr>
    <td>Code postal</td>
    <td><span style="display:inline-block; width: 25px;"></span></td>
    <td class="detail">{{currentProfile.zipCode.code}} ({{currentProfile.zipCode.city}})</td>
  </tr>
  <!--<tr>
    <td>Département</td>
    <td><span style="display:inline-block; width: 25px;"></span></td>
    <td class="detail">{{ currentProfile.departments }}</td>
  </tr>-->
  <tr>
    <td>Compétences</td>
    <td><span style="display:inline-block; width: 25px;"></span></td>
    <td class="detail">
      <ng-container *ngFor="let business of currentProfile.business">
        <div *ngIf="business.checked">
          {{business.label}}
        </div>
      </ng-container>
    </td>
  </tr>

  <tr>
    <td>Expertise</td>
    <td><span style="display:inline-block; width: 25px;"></span></td>
    <td class="detail">
      <ng-container *ngFor="let expertise of currentProfile.expertise">
        <div *ngIf="expertise.checked">
          {{expertise.label}}
        </div>
      </ng-container>
    </td>
  </tr>
  <tr>
    <td>Présentation</td>
    <td><span style="display:inline-block; width: 25px;"></span></td>
    <td>
      {{ currentProfile.slogan }}
    </td>
  </tr>
  </tbody>
</table>
