<section class="search-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="search-heading">
          <h1>{{categoryTitle | titlecase}}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-search">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <app-select-cities [multipleValues]="false"></app-select-cities>
      </div>
      <div class="col-sm-5">
        <ng-select class="custom"
                   [items]="skinTypes"
                   placeholder="Type de peau"
                   [(ngModel)]="selectedSkin">
        </ng-select>
      </div>
      <div class="col-sm-1"></div>


      <!--<div class="selector-search" style="display: table; margin: 0 auto;">
        &lt;!&ndash;<select style="width: 300px;">
          <option disabled hidden="true">Département</option>
          <ng-container *ngFor="let department of departments">
            <option>{{department.code}} - {{department.name}}</option>
          </ng-container>
        </select>&ndash;&gt;
        <table>
          <tr>
            <td style="width:680px">
              <app-select-cities></app-select-cities>
            </td>
            <td><span style="display:inline-block; width: 25px;"></span></td>
            <td style="width:200px">&lt;!&ndash;<select>
              <option disabled hidden>Type de peau</option>
              <option>Peau claire</option>
              <option>Peau foncée</option>
              <option>Peau mate</option>
            </select>&ndash;&gt;
              <ng-select class="custom"
                         [items]="skinTypes"
                         placeholder="Type de peau"
                         [(ngModel)]="selectedSkin">
              </ng-select>
            </td>
          </tr>
        </table>


      </div>
    </div>-->
    </div>

    <div class="row search-content">
      <div class="col-xs-6 col-sm-6 col-md-6 padding-right-none" *ngFor="let pos of [1,2,3,4,5,6,7]">
        <div class="d-flex flex-row border rounded">
          <img src="assets/images/search_img.jpg" class="img-thumbnail border-0 align-self"/>
          <div class="border-left">
            <table class="table table-user-information">
              <tbody>
              <tr>
                <td><h4 class="text-primary"> Name:<span>  Johan Deo,</span></h4></td>
                <td><a href="#"><h4 class="text-primary"> Email:<span class="new-text">ex@example </span></h4></a></td>
                <td><a href="8045446032"><h4 class="text-primary"> Phone No:<span class="new-text"> 8045446032   </span>
                </h4></a></td>
              </tr>
              <tr>
                <td><h4 class="text-primary"> ZipCode:<span> 18550 </span></h4></td>
                <td><h4 class="text-primary"> Department:<span class="new-text"> Essonne </span></h4></td>
                <td><h4 class="text-primary"> Experties:<span class="new-text">  Mate Skin</span></h4></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

    <mat-paginator #MatPaginator
                   [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                   (page)="pageEvent = $event">
    </mat-paginator>

    <!--<div *ngIf="pageEvent">
      <h5>Page Change Event Properties</h5>
      <div>List length: {{pageEvent.length}}</div>
      <div>Page size: {{pageEvent.pageSize}}</div>
      <div>Page index: {{pageEvent.pageIndex}}</div>
    </div>-->
  </div>

</section>
