<div class="form-area">
  <h2>Espace privé</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <!--<input type="text" class="form-control" id="name1" name="email" placeholder="e-mail" formControlName="email" required>-->
      <input type="email" class="form-control" formControlName="username" placeholder="e-mail" [ngClass]="{ 'is-invalid': submitted && f.username.errors}" required>
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">E-mail obligatoire</div>
      </div>
    </div>
    <div class="form-group">
      <!--<input type="password" class="form-control" id="password" name="password" placeholder="mot de passe" formControlName="password" required>-->
      <input type="password" class="form-control" formControlName="password" placeholder="mot de passe" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Mot de passe obligatoire</div>
      </div>
    </div>

    <div *ngIf="cantFindUser" style="color: #8b1941; margin-bottom: 10px">E-mail ou mot de passe incorrect(s)</div>
    <!--<div class="form-text">
      <p>Espace réservé aux maquilleuses</p>
    </div>-->

    <div class="form-group">
      <button type="submit"
              class="btn btn-primary-submit hvr-shadow"
              [disabled]="!loginForm.valid">Se connecter</button>

      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

      <!--<div class="form-text" style="text-align: end;">
        <a routerLink="/signup">S'inscrire</a>
      </div>-->
      <button type="submit" name="submit" style="margin-top: 10px;"
              class="btn btn-primary-submit hvr-shadow"
              routerLink="/signup">S'inscrire</button>
    </div>

    <div class="form-group">
      <a href="#" data-target="#pwdModal" data-toggle="modal" style="float: right;">Mot de passe oublié</a>
    </div>
  </form>
</div>

<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="text-center">Mot de passe oublié</h1>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="text-center">

                <p>Veuillez saisir votre adresse e-mail. Nous vous enverrons dans quelques instants un lien pour re-définir un nouveau mot de passe.</p>
                <div class="panel-body">
                  <fieldset>
                    <div class="form-group">
                      <input #resetemail class="form-control input-lg" placeholder="E-mail" name="resetemail" type="email">
                    </div>
                    <input class="btn btn-lg btn-primary btn-block" value="Re-Initialiser mon Mot de Passe" type="submit" (click)="resetPassword()">
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button #closeResetDialog class="btn" data-dismiss="modal" aria-hidden="true" id="dismissResetPassDialog">Annuler</button>
        </div>
      </div>
    </div>
  </div>
</div>
