/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Gotham';
  src: url('../../../assets/fonts/Gotham-Thin.eot');
  src: url('../../../assets/fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Gotham-Thin.woff2') format('woff2'),
  url('../../../assets/fonts/Gotham-Thin.woff') format('woff'),
  url('../../../assets/fonts/Gotham-Thin.ttf') format('truetype'),
  url('../../../assets/fonts/Gotham-Thin.svg#Gotham-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../../assets/fonts/Gotham-Light_1.eot');
  src: url('../../../assets/fonts/Gotham-Light_1.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Gotham-Light_1.woff2') format('woff2'),
  url('../../../assets/fonts/Gotham-Light_1.woff') format('woff'),
  url('../../../assets/fonts/Gotham-Light_1.ttf') format('truetype'),
  url('../../../assets/fonts/Gotham-Light_1.svg#Gotham-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../../../assets/fonts/Gotham-Bold.eot');
  src: url('../../../assets/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Gotham-Bold.woff2') format('woff2'),
  url('../../../assets/fonts/Gotham-Bold.woff') format('woff'),
  url('../../../assets/fonts/Gotham-Bold.ttf') format('truetype'),
  url('../../../assets/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: Gotham;
}

.modal-footer {   border-top: 0px; }

.main-header
{
  padding: 1% 5%;

}

.sliders
{
  padding: 0 5%;
}
.navigation-bar {
  margin: 32px 0 0 0;
}
.navigation-bar .navbar-inverse {
  background-color: transparent;
  border: 0;

}
.navigation-bar .navbar-inverse .navbar-nav  li  a:focus, .navbar-inverse .navbar-nav  li  a:hover {

  background-color: #ce9c8f;
  color: #fff!important;
}

.navigation-bar .navbar-inverse .navbar-nav  li  a:before:nth-child(2){
  content: url('../../../assets/images/extension_cils.jpg');
}

.navigation-bar .navbar-inverse .navbar-nav li a {
  color:#000000;
  font-size: 16px;
  padding: 12px 11px;
  margin: 0px 22px;

}
.navigation-bar .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover:first-child {
  color: #fff;
  background-color: #ce9c8f;
  padding: 12px 11px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none !important;
  filter: none !important;
}

.form-area {
  padding: 9% 15% 16% 14%;
}

.form-area h2 {
  text-align: left;
  margin-bottom: 31px;
}

.form-area .form-control {
  border: 0;
  padding: 19px 9px;
  border-radius: 0;
  box-shadow: none;
}
.carousel-indicators
{
  display:none;
}
.form-area .form-group {
  margin-bottom: 31px;
}

.form-area .form-control::-moz-placeholder {
  color: #624952;
  opacity: 1;
  font-size: 16px;
}


.form-area .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #624952;
  opacity: 1;
  font-size: 16px;
}

.form-area .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #624952;
  opacity: 1;
  font-size: 16px;
}
.form-area .form-control:-moz-placeholder { /* Firefox 18- */
  color: #624952;
  opacity: 1;
  font-size: 16px;
}
.form-area .form-text p {
  font-size: 18px;
  color: #000;
  margin: 0px 0px 38px 0px;
}
.btn.btn-primary-submit.hvr-shadow {
  /*background-color: #d11574;*/
  background-color: #A84A30 ;
  padding: 8px 40px;
  color: #fff;
  font-size: 23px;

  text-decoration: none;
  padding: 9px 64px;
  border: 2px solid #fff;
  width: 100%;
  border-radius: 0;
  margin: 0px auto;
  display: block;
}



.block-content
{
  padding: 4% 15%;
}


.content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 12px 2px;

}
.main-block
{

  border-top: 5px solid #ce9c8f;
  padding: 40px 26px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.content-box p {

  font-size: 19px;

  font-family: Gotham;
  font-weight: bold;
  font-style: normal;
  padding: 0px 10px;
  margin: 0;
  line-height: 2.3em;

}
.btn.btn-primary.read {
  background-color: #ce9c8f;
  border: 0;
  border-radius: 0;
  font-size: 15px;
}
.read-more {

  padding: 0px 49px;

}

.quote-text p {
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  color: #000;
}
.main-block.quote {

  padding:0;

}
.quote-text span {
  color: #ce9c8f;
  text-align: center;
  display: block;
  font-size: 18px;
}
.quote-text h2 {

  color: #727272;
  font-size: 16px;
  text-align: center;

}
.main-block.quote {

  padding: 0 0 20px 0px;

}
/*.main-block.quote .carousel-control {

   position: absolute;
   top: 85%;
   bottom: 0;
   left: 0;
   width: 300px;
   font-size: 20px;
   color: #fff;
   text-align: center;
   text-shadow: 0 1px 2px rgba(0,0,0,.6);
   background-color: rgba(0,0,0,0);
   filter: alpha(opacity=50);
   opacity: .5;

}
*/

.demopadding {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 36px 0 7px 0;

}
.icon {
  position:relative;
  text-align:center;
  width:0px;
  height:0px;
  padding:20px;
  border-top-right-radius: 	20px;
  border-top-left-radius: 	20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 	20px;
  -moz-border-radius: 		20px 20px 20px 20px;
  -webkit-border-radius: 		20px 20px 20px 20px;
  -khtml-border-radius: 		20px 20px 20px 20px;
  color:#FFFFFF;
}
.icon i {
  font-size:20px;
  position:absolute;
  left:9px;
  top:10px;
}
.icon.social {
  float:left;
  margin:0 5px 0 0;
  cursor:pointer;
  background: #7c7c7c;
  color:#262626;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.icon.social:hover {
  background:#262626 ;
  color:#6d6e71;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
  -moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
  -ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
  -o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
  filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));
}
.icon.social.fb i {
  left:13px;
  top:10px;
}
.icon.social.tw i {
  left:11px;
}
.icon.social.in i {
  left:11px;
}
.icon.social.gp i {
  left:11px;
}
.icon.social.ins i {
  left:11px;
}
.main-footer {
  background-color: #252525;
}
.copy-right p {
  text-align: center;
  color: #fff;
  padding: 20px 0;
}
.main-block.quote .carousel-control.right.carousel-control-next {

  left: 47%;
}
.main-block.quote .carousel-control {
  position: absolute;
  top: 77%;
}
.main-block.quote .carousel-control.left.carousel-control-prev {

  left: 40%;

}


#quote-carousel {

  padding: 10px 0;

}


.maquillages-icon {
  width: 46px;
  height: 25px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  background: url(../../../assets/images/maquillage.jpg);

}
/*active css*/


.maquillages-icon_ft {
  width: 46px;
  height: 25px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  background: url(../../../assets/images/microblading.jpg);
}


.maquillages-icon_scn {
  width: 17px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  background: url(../../../assets/images/manucure.jpg);

}

.maquillages-icon_thr {
  width: 50px;
  height: 22px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  background: url(../../../assets/images/extension_cils.png);


}
.maquillages-icon {
  width: 38px;
  height: 25px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  background: url(../../../assets/images/maquillage.jpg);

}
.navbar-nav > li a:hover .img-icon,
.navbar-nav > li.active a .img-icon{
  background-position:left top 25px;
}
.navbar-nav > li a:hover .img-icon.maquillages-icon_ft,
.navbar-nav > li.active a .img-icon.maquillages-icon_ft {

  background-position: left top 24px;

}
/*************Media Query************/
.glyphicon-chevron-right::before {
  content: "\e080";
  color: #000;
}
.glyphicon-chevron-left::before {
  content: "\e079";
  color: #000;
}
.navigation-bar .navbar-inverse .navbar-nav li:nth-child(4) a {
  margin: 0;
}
.navigation-bar .navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}
@media (max-width:1600px)
{
  .navigation-bar .navbar-inverse .navbar-nav li a {
    color: #000000;
    font-size: 16px;
    padding: 12px 11px;
    margin: 0px 7px;
  }
  .form-area {
    padding: 2% 15% 8% 14%;
  }
  .form-area .form-text p {
    margin: 0px 0px 20px 0px;
  }
  .main-block {
    padding: 26px 8px;
  }
  .content-box p {
    font-size: 13px;
  }
  .quote-text p {
    font-size: 11px;
    font-weight: normal;
    line-height: 19px;
    text-align: center;
    color: #000;
  }
  .quote-text h2 {
    color: #727272;
    font-size: 16px;
    text-align: center;
    margin: 4px 0;
  }
  .quote-text span {
    color: #ce9c8f;
    text-align: center;
    display: block;
    font-size: 13px;
  }
}
@media(max-width:2000px)
{


  .navigation-bar .navbar-inverse .navbar-nav li a {
    color: #000000;
    font-size: 12px;
    padding: 10px 12px;
  }
  .form-area h2 {
    text-align: left;
    margin-bottom: 12px;
  }
  .form-area .form-group {
    margin-bottom: 20px;
  }
  .form-area .form-text p {
    font-size: 14px;
    color: #000;
    margin: 0px 0px 16px 0px;
  }
  .form-area {
    border: solid;
    border-color: #ffffff;
    padding: 7% 15% 8% 14%;
  }
  .btn.btn-primary-submit.hvr-shadow {

    padding: 8px 40px;
    font-size: 20px;

  }
  .img-icon img {
    max-width: 20px;
  }
  .logo a img {
    max-width: 158px;
  }
  .navigation-bar {
    margin: 9px 0 0 0;
  }
  .navigation-bar .navbar-inverse .navbar-nav li a {
    padding: 12px 9px;
    margin: 0px 9px;
  }
  .content-box p {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    line-height: 31px;
  }
  .main-block {
    border-top: 5px solid #ce9c8f;
    padding: 21px 10px;
  }
  .quote-text p {
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
  }

  .quote-text h2 {
    margin: 9px;
  }
  .main-block.quote .carousel-control {
    position: absolute;
    top: 76%;
  }
  .icon {
    padding: 18px;
  }
  .icon i {
    font-size: 16px;
  }
  .read-more {
    padding: 0px 39px;
  }
  .content-box p {
    font-size: 13px;
    padding: 0 7px;
  }
  .btn.btn-primary.read
  {
    font-size:13px;
  }
  .main-block.quote
  {
    padding:0;
  }
  .content-box .quote-text p {

    font-size: 11px;
    padding: 0px 11px;

  }
  .content-box .quote-text h2 {
    margin: 3px;
    font-size: 12px;
  }
  .content-box .quote-text span {

    font-size: 11px;
    padding: 6px 0;

  }
  .img-icon-box img {

    width: 26px !important;

  }
  .content-box
  {
    padding:7px 0;
  }
  #quote-carousel {

    padding: 7px 0;

  }
}
@media(max-width:1196px)
{
  .navigation-bar .navbar-inverse .navbar-nav li a {
    padding: 12px 6px;
    margin: 0px 3px;
    font-size: 8px;
  }
  .navigation-bar .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover:first-child {
    color: #fff;
    background-color: #ce9c8f;
    padding: 12px 5px;
  }
  .main-block {
    margin: 10px 0px;
  }
  .navigation-bar .navbar-collapse.collapse {
    padding-right: 0px;
    padding-left: 0px;
  }
  .btn.btn-primary.read {
    font-size: 13px;
  }
  .main-block {
    border-top: 5px solid #ce9c8f;
    padding: 16px 7px;
  }
  .content-box p {
    font-size: 9px;
  }
  #quote-carousel {
    padding: 0;
  }
  .quote-text span {
    font-size: 12px;
  }
  .quote-text h2 {
    margin: 5px;
    font-size: 11px;
  }
  .form-area {
    padding: 2% 10%;
  }
  .btn.btn-primary-submit.hvr-shadow {
    padding: 8px 40px;
    font-size: 13px;
  }
  .form-area h2 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 19px;
  }
  .form-area .form-control::-moz-placeholder {
    color: #624952;
    opacity: 1;
    font-size: 12px;
  }

  .form-area .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #624952;
    opacity: 1;
    font-size: 12px;
  }

  .form-area .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #624952;
    opacity: 1;
    font-size: 12px;
  }
  .form-area .form-control:-moz-placeholder { /* Firefox 18- */
    color: #624952;
    opacity: 1;
    font-size: 12px;
  }
  .form-area .form-text p {
    font-size: 14px;
    color: #000;
    margin: 0px 0px 4px 0px;
  }
  .form-area {
    padding: 4% 10%;
  }
  .icon
  {
    position: relative;
    text-align: center;
    width: 0px;
    height: 0px;
    padding: 16px;
  }

  .icon.social.fb i {
    left: 11px;
    top: 10px;
  }
  .icon i
  {
    font-size: 15px;
  }
  .icon.social.tw i {
    left: 9px;
  }
  .icon.social.gp i {
    left: 9px;
  }
  .icon.social.ins i {
    left: 9px;
  }
  .content-box .quote-text p {
    font-size: 10px;
  }
  #quote-carousel {

    margin: 0px auto;
  }
  .navigation-bar {
    margin: 0;
  }
  .logo a img {
    max-width: 124px;
  }
}
@media(max-width:991px)
{
  .logo a img {
    max-width: 110px;
  }
  .navigation-bar {
    margin: 0;
  }
  .form-area h2 {
    text-align: left;
    margin-bottom: 9px;
    font-size: 15px;
    margin-top: 0;
  }
  .form-area .form-control {
    border: 0;
    padding: 9px 9px;
    border-radius: 0;
    box-shadow: none;
    height: 25px;
  }
  .form-text p {
    font-size: 10px !important;
  }
  .main-block.quote {
    padding:7px;
  }
  .main-block.quote .carousel-control {
    position: absolute;
    top: 78%;
  }
  .form-area {
    padding: 3% 10%;
  }
  .content-box p {
    line-height: 2.3em;
  }
  .content-box .quote-text p {
    line-height: 14px;
  }
  .btn.btn-primary.read {
    font-size: 11px;
  }
}
@media(max-width:767px)
{
  .nav.navbar-nav.pull-right {
    float: none !important;
  }
  .logo a img {
    max-width: 98px;
  }
  .navigation-bar {

    margin: 0;

  }
  .form-area {

    margin: 26px 0px;
  }
  .read-more {
    padding: 0px 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .content-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: center;
    padding: 12px 2px;
  }
  .form-area {
    padding: 10%;
  }
  .form-area .form-text p {
    font-size: 13px;
  }
  .navigation-bar {
    margin: 0;
    text-align: center;
    padding: 0;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
  }
  .navigation-bar .navbar-inverse .navbar-nav li a {
    padding: 12px 6px;
    margin: 12px 3px;
    font-size: 10px;
  }
  .navbar-inverse .navbar-toggle {
    border-color: #333;
    color: #000;
    background-color: #000;
  }
  .icon.social.fb i {
    left: 9px;
    top: 8px;
  }
  .icon i {
    font-size: 12px;
  }
  .icon
  {
    padding:16px;
  }
  .main-block.quote .carousel-control {
    position: absolute;
    top: 76%;
  }
  .content-box p {
    line-height: 2.3em;
    font-size: 13px;
  }
}
