<section class="search-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="submenus-heading">
          <h1 style="font-family: 'Tangerine', serif;
                    text-shadow: 6px 6px 6px #aaa;
                    font-size: 60px;">Demande de partenariat</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="margin-top: 50px; margin-bottom: 50px">
  <div class="container-fluid">
    <p style="margin-top: 20px; margin-bottom: 50px">Cum haec taliaque sollicitas eius aures everberarent expositas semper eius modi rumoribus et patentes, varia
      animo tum miscente consilia, tandem id ut optimum factu elegit: et Vrsicinum primum ad se venire summo cum honore
      mandavit ea specie ut pro rerum tunc urgentium captu disponeretur concordi consilio, quibus virium incrementis
      Parthicarum gentium a arma minantium impetus frangerentur.</p>

    <!--<div class="row">
      <div class="col-sm-4">
        <ul class="price">
          <li class="header">Partenariat 1</li>
          <li class="grey">10 €</li>
          <li>Vehicula Pellentesque</li>
          <li>Tellus Adipiscing Vulputate</li>
          <li>Venenatis Consectetur Fringilla</li>
          <li>Consectetur Vulputate</li>
          <li class="grey"><button href="#" class="button">Choisir</button></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="price">
          <li class="header">Partenariat 2</li>
          <li class="grey">25 €</li>
          <li>Vehicula Pellentesque</li>
          <li>Tellus Adipiscing Vulputate</li>
          <li>Venenatis Consectetur Fringilla</li>
          <li>Consectetur Vulputate</li>
          <li class="grey"><button href="#" class="button">Choisir</button></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="price">
          <li class="header">Partenariat 3</li>
          <li class="grey">40 €</li>
          <li>Vehicula Pellentesque</li>
          <li>Tellus Adipiscing Vulputate</li>
          <li>Venenatis Consectetur Fringilla</li>
          <li>Consectetur Vulputate</li>
          <li class="grey"><button href="#" class="button">Choisir</button></li>
        </ul>
      </div>
    </div>-->
  </div>
</section>
